/********************/

.wrapper {
    width: 100%;
    margin-top: 20px;
}

.wrapper input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

/*************************/

.button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: var(--radius);
    color: var(--primary-text);
    background-color: var(--widget);
}