.wrapper {
    width: 30%;
    height: 100vh;
    padding: 0px 20px;
    overflow-y: scroll;
}
.wrapper header{
    text-align: center;
    padding: 10px;
}
.list {
    display: flex;
    flex-direction: column;
}

.add {
    display: flex;
    flex-direction: column;
}