* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--primary-text);
  margin: 0;
  font-family: Vazirmatn, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-family: Vazirmatn;
}

button {
  font-family: Vazirmatn;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s;
}
button:hover {
  opacity: 0.8;
}

.widget {
  padding: 20px;
  border-radius: var(--radius);
  background-color: var(--widget);
  box-shadow: var(--box-shadow);
}

:root {
  --bg: #f8f8f8;
  --widget: #ffffff;
  --primary-text: black;
  --radius: 14px;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--widget);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}